extends default

block content
  h3 Asset table tracker

  p
  form(action='/assets' method='GET')
      input.search-input(autofocus='' value=`${searchQuery || ''}` placeholder='Asset' type='search' name='q')

  table(style='width:100%', border='1')
    tr
      th Asset
      th Hodl
      th Avg price
      th 1M
      th 6M
      th 1Y
      th Value
    tr
      td BTC
      td 0.12345678
      td $19384
      td +1.3%
      td -6.57%
      td N/A
      td $2527
