doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet' type="text/css" href='/css/style.css')
  body
    header
      h1 Welcome to your portfolio!
      div 
        a(href='http://localhost:3000/prices') Prices
        p
        a(href='http://localhost:3000/assets') Assets

    block content

    footer
      h5 site footer

